<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>initDb</title>
  </head>
  <script></script>
  <form
    method="POST"
    action="/initdb"
    style="display: flex; flex-direction: column; gap: 1em; width: max-content"
  >
    <h1>initDb</h1>
    <div style="display: flex; flex-direction: column">
      <input type="password" name="adminPw" id="adminPw" />
    </div>
    <button type="submit">send</button>
  </form>
</html>
